<h1>
  <a id="logo" href="#/"><img src="/images/logo-small.png" /></a>
  Abracadabra
  <span id="round-num" class="badge pull-right">{{round}}</span>
</h1>

<div id="wand">
  <a href="" class="btn" ng-click="listenFirstWord($event)">
    <img src="https://cdn1.iconfinder.com/data/icons/Basic_set2_Png/64/wand.png" />
  </a>
</div>

<h2 id="current-word">{{currentWord}}</h2>

<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="goToNextPage()">
  <i class="glyphicon glyphicon-circle-arrow-right"></i>
  Next Magic
</button>

<!-- HTML5 Audio tag example: https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Using_HTML5_audio_and_video -->
<audio id="magic-spell-audio" ng-hide="true" src="http://tts-api.com/tts.mp3?q={{currentWord}}" preload="auto" controls />