<h1>
  <a id="logo" href="#/"><img src="/images/logo-small.png" /></a>
  Abracadabra
  <span id="round-num" class="badge pull-right">{{round}}</span>
</h1>
<div id="wand">
  <a href="#">
    <img src="https://cdn1.iconfinder.com/data/icons/Basic_set2_Png/64/wand.png" />
  </a>
</div>
<h2 id="current-word">{{currentWord}}</h2>
<!--<a href="" class="btn btn-{{attemptColor}} btn-lg btn-block" ng-click="listenFirstWord($event)" ng-hide="lockedListen">
  <i class="glyphicon glyphicon-headphones"></i>
  Listen the first word
</a>-->
<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="goToNextPage()">
  <i class="glyphicon glyphicon-circle-arrow-right"></i>
  Next Magic
</button>

<!-- Google Translate Example:
<div cz-shortcut-listen="true">
  <video controls="" autoplay="" name="media">
    <source src="http://translate.google.co.uk/translate_tts?ie=UTF-8&amp;q=do&amp;tl=en&amp;total=1&amp;idx=0&amp;textlen=2&amp;prev=input" type="audio/mpeg">
  </video>
</div>-->

<!-- HTML5 Audio tag example:
https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Using_HTML5_audio_and_video
-->
<audio id="magic-spell-audio" ng-hide="true" src="http://tts-api.com/tts.mp3?q={{currentWord}}" preload="auto" controls />
