<div id="magic-board">
  <h1>
    <a id="logo" href="#/"><img src="/images/logo-small.png" /></a>
    Magic Verbs Board
  </h1>
  <table class="table-responsive">
    <thead>
      <tr>
        <th class="verbs">Verbs</th>
        <th ng-repeat="result in rounds[0].results" class="user_circ_picture">
          <img src="{{ result.picture }}" />
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="round in rounds">
        <td class="verbs">
          <div>{{ round.spell.infinitive }}</div>
          <div>{{ round.spell.simplePast }}</div>
          <div>{{ round.spell.pastParticiple }}</div>
        </td>
        <td ng-repeat="result in round.results">
          <button type="button" ng-show="result.correct" class="btn btn-primary" ng-click="toggleCorrect(result)">
            <i class="glyphicon glyphicon-thumbs-up"></i>
          </button>
          <button type="button" ng-show="!result.correct" class="btn btn-danger" ng-click="toggleCorrect(result)">
            <i class="glyphicon glyphicon-thumbs-down"></i>
          </button>
        </td>
      </tr>
      
      <tr>
        <td>
          <span>{{ calculateTotal() }}</span>
        </td>
        <td ng-repeat="result in rounds[0].results">
          {{ calculateWizardTotal(result) }}
        </td> 
      </tr>
    </tbody>
  </table>
  
</div>
