<h1>
  <a id="logo" href="#/"><img src="/images/logo-small.png" /></a>
  Who is doing this magic?
</h1>
<div class="list-group">
  <a ng-href='#here' ng-click="toggleSelect($event, $index)" ng-repeat="wizard in wizards" class="list-group-item">
    <span class="badge">
      <i ng-show="wizard.present" class="glyphicon glyphicon-ok"></i>
      <i ng-show="!wizard.present" class="glyphicon glyphicon-remove"></i>
    </span>
    {{ wizard.name }}
  </a>
</div>
<a href="#/abracadabra" class="btn btn-primary btn-lg btn-block">Lets Magic</a>
