<div id="magic-board" class="row">
  <h1>
    <a id="logo" href="#/"><img src="/images/logo-small.png" /></a>
    Max
  </h1>
  <div class="col-md-4">
    <img src="/images/users/max.jpg" alt="..." class="img-thumbnail">
  </div>
  <div class="col-md-8">
    <table class="table-responsive">
      <thead>
        <tr>
          <th>Round</th>
          <th>Score</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>10</td>
          <td>22/09/2013</td>
        </tr>
        <tr>
          <td>2</td>
          <td>5</td>
          <td>29/09/2013</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
