<div id="container">
  <h1>
    <img src="https://cdn1.iconfinder.com/data/icons/ie_Financial_set/256/15.png" />
    Magic Verbs
  </h1>

  <em>What are the magic words?</em>
  <div class="row">
    <div class="col-md-6">
      <div class="list-group">


        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">be</h4>
          <p class="list-group-item-text">Infinitive</p>
        </a>

        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">was, were</h4>
          <p class="list-group-item-text">Simple Past</p>
        </a>

        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">been</h4>
          <p class="list-group-item-text">Past Participle</p>
        </a>
      </div>
    </div>
    <div class="col-md-6">
        <div id="wand">
          <img src="https://cdn1.iconfinder.com/data/icons/Basic_set2_Png/64/wand.png" />
        </div>
      <a href="" class="btn btn-primary btn-lg btn-block">Listen the first word</a>
      <a href="" class="btn btn-danger btn-lg btn-block">Reveal the magic</a>
    </div>
  </div>

  <h4>Eagles</h4>
  <em>Who have match all the magic?</em>
  <ul class="list-group">
    <li ng-repeat="student in students" class="list-group-item">
      <span class="badge">
        <!--{{student.success}}-->
        √
      </span>
      {{student.name}}
    </li>
  </ul>

  <div class="btn-group btn-group-justified">
    <a href="#" class="btn btn-primary btn-lg btn-block">Next</a>
  </div>
</div>
